#themecolors .selector{cursor:pointer}#google-btn{display:flex;justify-content:center;align-items:center;text-align:center}.cursor{cursor:pointer}.fondo-modal-imagen{background-color:rgba(0,0,0,.4);position:fixed;top:0;left:0;height:100%;width:100%;z-index:9999}.oculto{display:none}